<div id="wrapper">
    <div id="container">
        <span>
            <button routerLink="addNewCard" class="optionButton" mat-raised-button color="primary">Add new
                cardholder</button>
        </span>
        <span>
            <button routerLink="makePayment" class="optionButton" mat-raised-button color="primary">Make new transaction</button>
        </span>
        <span>
            <button routerLink="transactions" class="optionButton" mat-raised-button color="primary">See all transactions</button>
        </span>
    </div>
</div>